<%# Remember that current user is only available when a user sign-in %>
<h3>Hi, <%= current_user.first_name %></h3>
<p>Find me in app/views/pages/home.html.erb</p>
<h3>Blog Posts: </h3>
<%= link_to 'Click-here' , blogs_path(@blogs)%>
<%= @posts.inspect %>
<h3>Skills : </h3>
<p>No routes and Model of this </p>
<%= @skills.inspect %>

<p><%= current_user.class %></p>
